#root {
  margin: auto;
  text-align: center;
}

body {
    font-size: 1em;
    font-family: Garamond, serif;
    color: rgb(18, 3, 1);
    background: rgb(227, 181, 172);
}

/* HEADER */

header {
    position:absolute;
    top:0;
    right:0;
    left:0;
}

.title-header {
    border-block: double;
    text-align: center;
}

/* NAVIGATION */

nav {
    display:flex;
    justify-content: center;
    background-color: rgb(176, 139, 116);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(18, 3, 1);;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(18, 3, 1);
    background-color: rgb(242, 208, 187);
}

/* CARDS */

.Cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 900px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.CardYear {
    border: 1px groove rgb(18, 3, 1);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.CarYearSelected {
    background: white;
    border: 1px groove rgb(18, 3, 1);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* READINGS LIST */

.ReadingsList {
    width: 450px;
    margin-left: 20px;
}

ol.list-o-readings{
    margin-left: 20px;
    background-color: rgb(176, 139, 116);
    list-style-position: outside;
}

ol.list-o-readings a {
    color: rgb(128, 76, 44);
    font-weight: bold;
    text-decoration: underline;
}

/* READING DETAILS */

.ReadingDetails{
    position:absolute;
    top:200px;
    right:25px;
    left:25px;
}

.details-wrapper{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 5fr);
    grid-gap: 80px;
    grid-auto-rows: minmax(100px, auto);
}

.details-wrapper h2 {
    text-decoration: underline;
}

.details-wrapper p {
    text-align: justify;
}

.details-infos table {
    display: flex;
    justify-content: center;
    width:100%;
    border-collapse: collapse;
}

.details-infos th,td {
    border: 1px solid;
    padding: 10px;
}

/* NEW READING */

.NewReading {
    position:absolute;
    top:200px;
    right:25px;
    left:25px;
    background: rgb(227, 181, 172);
    border:none;
}

.form-reading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

fieldset {
    width:500px;
}

.visibleField {
    display:block;
}

.unVisibleField {
    display:none;
}
